{% extends  'base.html' %}
{% block content %}


    <div id="courses">
        <div id="banner" width ="100px">
            <img src="../static/img/main.png" alt="">

        </div>
        <div id="banner-course">
            <p>Courses</p>
        </div>
        <hr id="hr1">
    </div>
    <div id="supply-container">
        <div id="supply-headline">
            <p>
                Financial Analytics & Investment Banking
            </p>
        </div>
        
    <div id="top-div">
        <div class="top-3" id="top-div-1">
            <div class="top-3-img"><img src="../static/img/Rectangle76.png" alt=""></div>
            <div class="top-3-btn"><button><b>View Courses</b></button></div>
            <div class="top-3-p"><p>Stock Broking & Derivative Trading</p></div>
        </div>
        <div class="top-3" id="top-div-2">
            <div class="top-3-img"><img src="../static/img/Rectangle98.png" alt=""></div>
            <div class="top-3-btn"><button><b>View Courses</b></button></div>
            <div class="top-3-p"><p>Financial Modelling & Investment Banking</p></div>
        </div>
        <div class="top-3" id="top-div-3">
            <div class="top-3-img"><img src="../static/img/Rectangle99.png" alt=""></div>
            <div class="top-3-btn"><button><b>View Courses</b></button></div>
            <div class="top-3-p"><p>Financial Analytics & Intelligence</p></div>
        </div>
        
    </div>
    <div id="bottom-div">
        <div class="bottom-2-div" id="bottom-div-1">
            <div class="bottom-3-img"><img src="../static/img/Rectangle100.png" alt=""></div>
            <div class="top-3-btn"><button><b>View Courses</b></button></div>
            <div class="top-3-p"><p>Taxation</p></div>
        </div>
        <div class="bottom-2-div" id="bottom-div-2">
            <div class="bottom-3-img"><img src="../static/img/Rectangle101.png" alt=""></div>
            <div class="top-3-btn"><button><b>View Courses</b></button></div>
            <div class="top-3-p"><p>Accountancy</p></div>
        </div>
    </div>
    <div id="animation">
        <div class="anima" id="animation-div1">

        </div>
        <div class="anima" id="animation-div2">
            <h3>Pre <span id="mark">Enrollement</span> for this course</h3>
            <p>By Enrolling this course you'll <br> first get to now the latest <br> update of this course</p><br>
            <button class="btn" id="btn3"><b>&nbsp; Enroll now</b> &nbsp; <img src="Vector.png" alt=""></button>
        </div>
    </div>
{% endblock %}