{% extends  'base.html' %}
{% block content %}
    <section class="login-block">
            
                <div class="col-sm-12">
                    <form class="md-float-material form-material"  action="#" method="POST">{% csrf_token %}
                        <div class="auth-box card">
                            <div class="card-block" id="signup">
                                <button class="cross">X</button>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center heading">FORGOT PASSWORD</h3>
                                    </div>
                                    <br><br>
                                </div>
                                <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                               <div class="row">
                                    <div class="col-md-12"> <input type="submit" id="btn-bg" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Reset Password"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            
        </div>
    </section>
{% endblock %}
</html>




